In [1]:
import pandas as pd
s = pd.Series(['Luka','Renato','Ena','Ivana'])
print(type(s))

<class 'pandas.core.series.Series'>

In [3]:
s.name = "ekipa"
print(s.name)
print(type(s.values))
print(type(s.name))
print(s.index)
print(s[1])

ekipa
<class 'numpy.ndarray'>
<class 'str'>
RangeIndex(start=0, stop=4, step=1)
Renato

In [5]:
s.index = ['prvi','drugi','treci','cetvrti']
s.index

Index(['prvi', 'drugi', 'treci', 'cetvrti'], dtype='object')

In [6]:
s.prvi ="Darko"
s

prvi        Darko
drugi      Renato
treci         Ena
cetvrti     Ivana
Name: ekipa, dtype: object

In [11]:
for  index, value in s.items():
    print(f" Index : {index}, Value : {value}")

    if 'd' in index.lower():
        s[index] = "Hrvoje"

 Index : prvi, Value : Darko
 Index : drugi, Value : Renato
 Index : treci, Value : Ena
 Index : cetvrti, Value : Ivana

In [13]:
print(s[2])
print(s.treci)

Ena
Ena

In [17]:
df = pd.DataFrame({
    'Grad': ['Split','Zagreb', 'Lipik', 'Osijek'],'godine_iskustva': [10,8,6,6], 'Ekipa': ['H','R','P','E']
},
 columns=['Grad', 'godine_iskustva', 'Ekipa'])

df.columns

Index(['Grad', 'godine_iskustva', 'Ekipa'], dtype='object')

In [19]:
df.index = ['bajo','brale','bracika','buraz']
df
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4 entries, bajo to buraz
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Grad             4 non-null      object
 1   godine_iskustva  4 non-null      int64
 2   Ekipa            4 non-null      object
dtypes: int64(1), object(2)
memory usage: 128.0+ bytes

In [28]:

print(df.loc['bajo'])
df.shape
df.size
df.describe()

Grad               Split
godine_iskustva       10
Ekipa                  H
Name: bajo, dtype: object

       godine_iskustva
count         4.000000
mean          7.500000
std           1.914854
min           6.000000
25%           6.000000
50%           7.000000
75%           8.500000
max          10.000000

In [29]:
najdraze_jelo= pd.Series(['Sarma','Paprikas','cevapi','burek'], index=['bajo','brale','bracika','buraz'],)
df['jela']= najdraze_jelo
df

           Grad  godine_iskustva Ekipa      jela
bajo      Split               10     H     Sarma
brale    Zagreb                8     R  Paprikas
bracika   Lipik                6     P    cevapi
buraz    Osijek                6     E     burek