In [19]:

import pandas as pd
df = pd.read_csv(r'C:\Users\User\Desktop\26_11\letovi.csv')
print(df)

new = df['Prices'].str.split(" ", n=1,expand = True)
df["Cijena"]= new[0]
df["Valuta"] = new[1]
df.drop(columns=['Prices'],inplace = True)
df


df["Valuta"].replace({"kn": "eur"}, inplace=True)
df.rename(columns={'Departure date:': 'Departure_date','Date of Arrival:':'Date_of_arrival'}, inplace = True)
df

    Unnamed: 0     Destination     Prices Departure date: Date of Arrival:  \
0            0        Valletta     180 kn       Sat 4 Dec        Sat 4 Dec
1            1          Paphos     211 kn       Sat 4 Dec        Mon 6 Dec
2            2         Tallinn     300 kn       Sat 4 Dec       Sun 12 Dec
3            3        Brussels     173 kn       Sun 5 Dec        Wed 8 Dec
4            4      Manchester     180 kn       Sun 5 Dec        Sun 5 Dec
5            5      Banja Luka     225 kn       Sun 5 Dec        Mon 6 Dec
6            6          Málaga     255 kn       Sun 5 Dec        Wed 8 Dec
7            7           Paris     278 kn       Sun 5 Dec        Wed 8 Dec
8            8      Bratislava     301 kn       Sun 5 Dec       Sun 12 Dec
9            9          Douala  10.465 kn       Sun 5 Dec        Mon 3 Jan
10          10      Gothenburg     203 kn       Mon 6 Dec        Wed 8 Dec
11          11         Vilnius     301 kn       Mon 6 Dec        Wed 8 Dec
12          12           Malmo      76 kn       Tue 7 Dec       Tue 14 Dec
13          13          Harare   5.259 kn       Thu 9 Dec       Mon 27 Dec
14          14          Dublin     278 kn      Fri 10 Dec       Tue 18 Jan
15          15            Lviv     293 kn      Fri 10 Dec       Mon 13 Dec
16          16     Baden-Baden      75 kn      Sat 11 Dec       Tue 14 Dec
17          17    Thessaloniki     107 kn      Sun 12 Dec       Thu 23 Dec
18          18    Thessaloniki     218 kn      Sun 12 Dec       Sun 12 Dec
19          19       Reykjavik     549 kn      Sun 12 Dec       Wed 29 Dec
20          20            Riga     210 kn      Mon 13 Dec       Wed 15 Dec
21          21           Basel     413 kn      Mon 13 Dec       Tue 14 Dec
22          22        Chisinau     862 kn      Mon 13 Dec       Thu 16 Dec
23          23           Milan      82 kn      Tue 14 Dec       Thu 16 Dec
24          24   St Petersburg     823 kn      Tue 14 Dec       Sat 18 Dec
25          25         Bishkek   3.003 kn      Thu 16 Dec       Sun 19 Dec
26          26       Eindhoven      86 kn      Fri 17 Dec       Tue 21 Dec
27          27          Paphos     127 kn      Fri 17 Dec       Mon 20 Dec
28          28          Gdansk     212 kn      Sun 19 Dec       Wed 29 Dec
29          29          Dublin     225 kn      Sun 19 Dec        Wed 5 Jan
30          30          Málaga     187 kn      Tue 21 Dec       Tue 28 Dec
31          31       Eindhoven     188 kn      Thu 23 Dec        Thu 6 Jan
32          32      Phnom Penh   5.072 kn      Fri 24 Dec        Fri 7 Jan
33          33     Belize City   8.940 kn      Fri 24 Dec        Sat 8 Jan
34          34         Entebbe   3.900 kn      Sat 25 Dec        Sat 1 Jan
35          35         Billund     293 kn      Thu 30 Dec        Mon 3 Jan
36          36          Moscow   1.309 kn      Fri 31 Dec       Mon 10 Jan
37          37       Podgorica     107 kn       Sat 1 Jan        Sat 8 Jan
38          38         Managua  12.573 kn       Wed 5 Jan       Thu 20 Jan
39          39       Bucharest     283 kn      Tue 11 Jan       Thu 13 Jan
40          40            Oslo     180 kn      Wed 12 Jan       Wed 19 Jan
41          41        Istanbul     888 kn      Wed 12 Jan       Tue 18 Jan
42          42            Kyiv   1.683 kn      Wed 12 Jan       Sun 16 Jan
43          43          Prague     278 kn      Thu 13 Jan       Sun 16 Jan
44          44       Abu Dhabi   1.157 kn      Thu 13 Jan       Thu 20 Jan
45          45    San Salvador   6.593 kn      Thu 13 Jan       Mon 17 Jan
46          46          Naples     173 kn      Fri 14 Jan       Mon 17 Jan
47          47        Budapest     270 kn      Fri 14 Jan       Mon 31 Jan
48          48         Cotonou   6.063 kn      Sat 15 Jan       Mon 31 Jan
49          49           Porto     316 kn      Sun 16 Jan       Mon 24 Jan
50          50        Belgrade     513 kn      Mon 17 Jan       Sat 22 Jan
51          51          Tirana     541 kn      Mon 17 Jan       Fri 21 Jan
52          52          Skopje     541 kn      Mon 17 Jan       Fri 21 Jan
53          53          Manama   2.526 kn      Mon 17 Jan       Fri 21 Jan
54          54  Guatemala City   4.617 kn      Mon 17 Jan       Mon 18 Apr
55          55       Podgorica     232 kn      Tue 18 Jan       Sat 22 Jan
56          56       Gibraltar     633 kn      Thu 20 Jan       Mon 24 Jan
57          57         Baghdad   2.370 kn      Thu 20 Jan       Thu 27 Jan
58          58      Bridgetown   4.079 kn      Thu 20 Jan       Thu 27 Jan
59          59           Quito   5.456 kn      Thu 20 Jan       Thu 31 Mar

                                 Airline
0                                Ryanair
1                                Ryanair
2                                Ryanair
3                                Ryanair
4                                Ryanair
5                                Ryanair
6                                Ryanair
7                                Ryanair
8                                Ryanair
9             Ryanair + Turkish Airlines
10                               Ryanair
11                               Ryanair
12                               Ryanair
13                         KLM + Airlink
14                               Ryanair
15                    Ryanair + Wizz Air
16                               Ryanair
17                               Ryanair
18                               Ryanair
19                    Ryanair + Wizz Air
20                               Ryanair
21                    Ryanair + Wizz Air
22                    Ryanair + Wizz Air
23                               Ryanair
24                    Ryanair + Wizz Air
25                      Turkish Airlines
26                               Ryanair
27                               Ryanair
28                               Ryanair
29                               Ryanair
30                               Ryanair
31                               Ryanair
32  Turkish Airlines + Malaysia Airlines
33                    Lufthansa + United
34                         Qatar Airways
35                               Ryanair
36                     Nordwind Airlines
37                               Ryanair
38                        Ryanair + TACA
39                    Ryanair + Wizz Air
40                               Ryanair
41            Ryanair + Pegasus Airlines
42                              Windrose
43                               Ryanair
44          Ryanair + Wizz Air Abu Dhabi
45                         KLM + Avianca
46                               Ryanair
47                               Ryanair
48                      KLM + Air France
49                               Ryanair
50                    Ryanair + Wizz Air
51                    Ryanair + Wizz Air
52                    Ryanair + Wizz Air
53         Air Serbia + Pegasus Airlines
54                                United
55                               Ryanair
56                 Ryanair + Wizz Air UK
57            Ryanair + Pegasus Airlines
58                                   KLM
59             Croatia Airlines + United

,Unnamed: 0,Destination,Departure_date,Date_of_arrival,Airline,Cijena,Valuta
0,0,Valletta,Sat 4 Dec,Sat 4 Dec,Ryanair,180,eur
1,1,Paphos,Sat 4 Dec,Mon 6 Dec,Ryanair,211,eur
2,2,Tallinn,Sat 4 Dec,Sun 12 Dec,Ryanair,300,eur
3,3,Brussels,Sun 5 Dec,Wed 8 Dec,Ryanair,173,eur
4,4,Manchester,Sun 5 Dec,Sun 5 Dec,Ryanair,180,eur
5,5,Banja Luka,Sun 5 Dec,Mon 6 Dec,Ryanair,225,eur
6,6,Málaga,Sun 5 Dec,Wed 8 Dec,Ryanair,255,eur
7,7,Paris,Sun 5 Dec,Wed 8 Dec,Ryanair,278,eur
8,8,Bratislava,Sun 5 Dec,Sun 12 Dec,Ryanair,301,eur
9,9,Douala,Sun 5 Dec,Mon 3 Jan,Ryanair + Turkish Airlines,10.465,eur
10,10,Gothenburg,Mon 6 Dec,Wed 8 Dec,Ryanair,203,eur
11,11,Vilnius,Mon 6 Dec,Wed 8 Dec,Ryanair,301,eur
12,12,Malmo,Tue 7 Dec,Tue 14 Dec,Ryanair,76,eur
13,13,Harare,Thu 9 Dec,Mon 27 Dec,KLM + Airlink,5.259,eur
14,14,Dublin,Fri 10 Dec,Tue 18 Jan,Ryanair,278,eur
15,15,Lviv,Fri 10 Dec,Mon 13 Dec,Ryanair + Wizz Air,293,eur
16,16,Baden-Baden,Sat 11 Dec,Tue 14 Dec,Ryanair,75,eur
17,17,Thessaloniki,Sun 12 Dec,Thu 23 Dec,Ryanair,107,eur
18,18,Thessaloniki,Sun 12 Dec,Sun 12 Dec,Ryanair,218,eur
19,19,Reykjavik,Sun 12 Dec,Wed 29 Dec,Ryanair + Wizz Air,549,eur
20,20,Riga,Mon 13 Dec,Wed 15 Dec,Ryanair,210,eur
21,21,Basel,Mon 13 Dec,Tue 14 Dec,Ryanair + Wizz Air,413,eur
22,22,Chisinau,Mon 13 Dec,Thu 16 Dec,Ryanair + Wizz Air,862,eur
23,23,Milan,Tue 14 Dec,Thu 16 Dec,Ryanair,82,eur
24,24,St Petersburg,Tue 14 Dec,Sat 18 Dec,Ryanair + Wizz Air,823,eur
25,25,Bishkek,Thu 16 Dec,Sun 19 Dec,Turkish Airlines,3.003,eur
26,26,Eindhoven,Fri 17 Dec,Tue 21 Dec,Ryanair,86,eur
27,27,Paphos,Fri 17 Dec,Mon 20 Dec,Ryanair,127,eur
28,28,Gdansk,Sun 19 Dec,Wed 29 Dec,Ryanair,212,eur
29,29,Dublin,Sun 19 Dec,Wed 5 Jan,Ryanair,225,eur
30,30,Málaga,Tue 21 Dec,Tue 28 Dec,Ryanair,187,eur
31,31,Eindhoven,Thu 23 Dec,Thu 6 Jan,Ryanair,188,eur
32,32,Phnom Penh,Fri 24 Dec,Fri 7 Jan,Turkish Airlines + Malaysia Airlines,5.072,eur
33,33,Belize City,Fri 24 Dec,Sat 8 Jan,Lufthansa + United,8.940,eur
34,34,Entebbe,Sat 25 Dec,Sat 1 Jan,Qatar Airways,3.900,eur
35,35,Billund,Thu 30 Dec,Mon 3 Jan,Ryanair,293,eur
36,36,Moscow,Fri 31 Dec,Mon 10 Jan,Nordwind Airlines,1.309,eur
37,37,Podgorica,Sat 1 Jan,Sat 8 Jan,Ryanair,107,eur
38,38,Managua,Wed 5 Jan,Thu 20 Jan,Ryanair + TACA,12.573,eur
39,39,Bucharest,Tue 11 Jan,Thu 13 Jan,Ryanair + Wizz Air,283,eur
40,40,Oslo,Wed 12 Jan,Wed 19 Jan,Ryanair,180,eur
41,41,Istanbul,Wed 12 Jan,Tue 18 Jan,Ryanair + Pegasus Airlines,888,eur
42,42,Kyiv,Wed 12 Jan,Sun 16 Jan,Windrose,1.683,eur
43,43,Prague,Thu 13 Jan,Sun 16 Jan,Ryanair,278,eur
44,44,Abu Dhabi,Thu 13 Jan,Thu 20 Jan,Ryanair + Wizz Air Abu Dhabi,1.157,eur
45,45,San Salvador,Thu 13 Jan,Mon 17 Jan,KLM + Avianca,6.593,eur
46,46,Naples,Fri 14 Jan,Mon 17 Jan,Ryanair,173,eur
47,47,Budapest,Fri 14 Jan,Mon 31 Jan,Ryanair,270,eur
48,48,Cotonou,Sat 15 Jan,Mon 31 Jan,KLM + Air France,6.063,eur
49,49,Porto,Sun 16 Jan,Mon 24 Jan,Ryanair,316,eur
50,50,Belgrade,Mon 17 Jan,Sat 22 Jan,Ryanair + Wizz Air,513,eur
51,51,Tirana,Mon 17 Jan,Fri 21 Jan,Ryanair + Wizz Air,541,eur
52,52,Skopje,Mon 17 Jan,Fri 21 Jan,Ryanair + Wizz Air,541,eur
53,53,Manama,Mon 17 Jan,Fri 21 Jan,Air Serbia + Pegasus Airlines,2.526,eur
54,54,Guatemala City,Mon 17 Jan,Mon 18 Apr,United,4.617,eur
55,55,Podgorica,Tue 18 Jan,Sat 22 Jan,Ryanair,232,eur
56,56,Gibraltar,Thu 20 Jan,Mon 24 Jan,Ryanair + Wizz Air UK,633,eur
57,57,Baghdad,Thu 20 Jan,Thu 27 Jan,Ryanair + Pegasus Airlines,2.370,eur
58,58,Bridgetown,Thu 20 Jan,Thu 27 Jan,KLM,4.079,eur
59,59,Quito,Thu 20 Jan,Thu 31 Mar,Croatia Airlines + United,5.456,eur